In [1]:
import tifffile as tiff

def load_img(idx):
    img = tiff.imread(os.path.join("train_images", f"{idx}.tiff"))
    return img

In [17]:
import tensorflow as tf
import numpy as np

def rle_decode(rle_mask, shape):

    rle_mask = rle_mask.split()
    starts, lengths = [np.asarray(x, dtype=int) for x in (rle_mask[0:][::2], rle_mask[1:][::2])]
    starts -= 1
    ends = starts + lengths

    mask = np.zeros((shape[0] * shape[1]), dtype=np.uint8)
    for start, end in zip(starts, ends):
        mask[start:end] = 1

    mask = mask.reshape(shape[0], shape[1]).T
    return mask[:,:,tf.newaxis]

In [3]:
import pandas as pd

df = pd.read_csv("my_train.csv",index_col="id")
df['organ'] = pd.Categorical(df['organ'], ['prostate', 'spleen', 'lung', 'kidney', 'largeintestine'])

In [4]:
import os
train_img_output_path = './images_png'
train_mask_output_path = './masks_png'
if not os.path.exists(train_img_output_path):
    os.makedirs(train_img_output_path)
if not os.path.exists(train_mask_output_path):
    os.makedirs(train_mask_output_path)

In [19]:
from keras.utils import save_img

for idx, row in df.iterrows():
    img = load_img(idx)
    save_img(f'{train_img_output_path}/{idx}.png', img)
    mask = rle_decode(row["rle"], (row["img_height"],row["img_width"]))
    save_img(f'{train_mask_output_path}/{idx}.png', mask, scale=False)

In [12]:
img.shape

(3000, 3000, 3)

In [21]:
df[df.img_height==df.img_height.min()]

,organ,data_source,img_height,img_width,pixel_size,tissue_thickness,rle,age,sex,#FTU
id,,,,,,,,,,
18121,kidney,HPA,2308,2308,0.4,4,1070782 12 1073089 14 1075375 37 1077681 39 10...,41.0,Female,4

In [22]:
df

,organ,data_source,img_height,img_width,pixel_size,tissue_thickness,rle,age,sex,#FTU
id,,,,,,,,,,
10044,prostate,HPA,3000,3000,0.4,4,1459676 77 1462675 82 1465674 87 1468673 92 14...,37.0,Male,9
10274,prostate,HPA,3000,3000,0.4,4,715707 2 718705 8 721703 11 724701 18 727692 3...,76.0,Male,22
10392,spleen,HPA,3000,3000,0.4,4,1228631 20 1231629 24 1234624 40 1237623 47 12...,82.0,Male,4
10488,lung,HPA,3000,3000,0.4,4,3446519 15 3449517 17 3452514 20 3455510 24 34...,78.0,Male,2
10610,spleen,HPA,3000,3000,0.4,4,478925 68 481909 87 484893 105 487863 154 4908...,21.0,Female,1
...,...,...,...,...,...,...,...,...,...,...
9517,kidney,HPA,3000,3000,0.4,4,1611763 11 1614753 29 1617750 35 1620746 43 16...,61.0,Male,2
9769,kidney,HPA,3070,3070,0.4,4,4030400 28 4033466 34 4036526 48 4039594 54 40...,28.0,Male,2
9777,largeintestine,HPA,3000,3000,0.4,4,538473 13 541468 22 544463 30 547461 35 550459...,84.0,Male,41
9791,kidney,HPA,3000,3000,0.4,4,334733 33 337729 43 340729 43 343725 51 346723...,28.0,Male,4
9904,largeintestine,HPA,3000,3000,0.4,4,1009165 7 1012149 28 1015140 38 1018127 51 102...,84.0,Male,55